<a href="https://colab.research.google.com/github/Unalunapark/practice/blob/main/%EB%94%B4%EC%A7%93/%EC%84%B9%EC%85%984_%EC%9E%91%EC%97%85%ED%98%951_%EB%AA%A8%EC%9D%98%EB%AC%B8%EC%A0%9C1(4_1_type1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형1 모의문제1
- data : members.csv
- 한 개의 셀만 사용해서 문제를 풀어주세요

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [ ]:
# your code
import pandas
members=pd.read_csv("/content/drive/MyDrive/데이터모음/11.11 스터디용(박은아출제)/작업형1/members.csv")
members

NameError: name 'pd' is not defined

## 문제2
- 주어진 데이터에서 결측치가 30%이상 되는 컬럼을 찾고 해당 컬럼에 결측치가 있는 데이터(행)를 삭제 함.
- 그리고 30% 미만, 20% 이상인 결측치가 있는 컬럼은 최빈값으로 값을 대체하고
- 'f3'컬럼의 'gold' 값을 가진 데이터 수를 출력하세요!

In [ ]:
# your code

## 문제3
- views 컬럼에 결측치가 있는 데이터(행)을 삭제하고,
- f3 컬럼의 결측치는 0, silver는 1, gold는 2, vip는 3 으로 변환한 후 총 합을 정수형으로 출력하시오

In [ ]:
# your code

# 풀이

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

df['f1'] = df['f1'].fillna(df['f1'].median())
# print(df.isnull().sum())

# print(df.shape)
df = df.dropna()
# print(df.shape)

df = df[:int(len(df) * 0.7)]

r1 = df['views'].quantile(.75)
r2 = df['views'].quantile(.25)

print(r1 - r2)

3261.0

## 문제2
- 주어진 데이터에서 결측치가 30%이상 되는 컬럼을 찾고 해당 컬럼에 결측치가 있는 데이터(행)를 삭제 함.
- 그리고 30% 미만, 20% 이상인 결측치가 있는 컬럼은 최빈값으로 값을 대체하고
- 'f3'컬럼의 'gold' 값을 가진 데이터 수를 출력하세요!

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

# print(df.isnull().sum())

# print(len(df) * 0.3)
# f1 삭제
# f3 최빈값

# print(df.shape)
df = df.dropna(subset=['f1'])
# print(df.shape)

# print(df.head())
df['f3'] = df['f3'].fillna(df['f3'].mode()[0])
# print(df.head())

# df.isnull().sum()

print(sum(df['f3'] == 'gold'))

56

## 문제3
- views 컬럼에 결측치가 있는 데이터(행)을 삭제하고,
- f3 컬럼의 결측치는 0, silver는 1, gold는 2, vip는 3 으로 변환한 후 f3 컬럼의 총 합을 정수형으로 출력하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("members.csv")

In [ ]:
#replace
import pandas as pd
df = pd.read_csv("members.csv")
# print(df.shape)
df = df.dropna(subset=['views'])
# print(df.shape)

# print(df.head(7))
import numpy as np
df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)
# df['f3'] = df['f3'].replace('silver',1)
# df['f3'] = df['f3'].replace('gold',2)
# df['f3'] = df['f3'].replace('vip',3)
# print(df.head(7))

print(df['f3'].sum())

133

In [ ]:
#map
import pandas as pd
df = pd.read_csv("members.csv")
df = df.dropna(subset=['views'])

dict_list = {np.nan:0, 'silver':1, 'gold':2, 'vip':3}
df['f3'] = df['f3'].map(dict_list)

print(df['f3'].sum())

133

In [ ]:
# 조건
import pandas as pd
df = pd.read_csv("members.csv")
df = df.dropna(subset=['views'])

r1 = sum(df['f3'] == 'silver') * 1
r2 = sum(df['f3'] == 'gold') * 2
r3 = sum(df['f3'] == 'vip') * 3
print(r1 + r2 + r3)

133